<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Customers</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Select a Customer to Login as:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    {% for customer in customers %}
                    <a href="{% url 'customer_detail' customer.id %}" class="list-group-item">{{ customer.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'reset' %}" class="btn btn-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Reset</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>