<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>New Features</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ customer.name }}</h1>

                <a href="{% url 'customer_detail' customer.id %}" class="btn btn-default">&laquo; Back</a>

                <div>
                    Last viewed features: {{ last_viewed_feature }}
                    <br />
                    New features: <span class="badge">{{ features.count }}</span>

                    {% for feature in features %}
                    <h3><a href="{{ feature.url }}">{{ feature.title }}</a></h3>
                    <ul>
                        <li>Released: {{ feature.date }}</li>
                        <li>Developer: {{ feature.lead_developer.name }}</li>
                        <li>Description: {{ feature.description }}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>